<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script>

    var urlParams = new URLSearchParams(window.location.search);
    var authCode = urlParams.get('code'),
        state = urlParams.get('state'),
        error = urlParams.get('error'),
        errorDescription = urlParams.get('error_description');

    if (error) {
        window.alert("error = " + error + ", description = " + errorDescription);
    } else {
        // вызов функции будет производиться от лица родительского окна (там у нас сохранен originalState для сравнения с полученным от AuthServer)
        window.opener.requestTokens(state, authCode); // если подчеркивает ошибку - это норм, т.к. функция вызывается от имени окна
    }

    window.close();

</script>
</body>
</html>